<a href="https://colab.research.google.com/github/moronii/Teste/blob/master/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
numero = 5 
nome = "moroni"
numero_decimal = 5.8

In [16]:
#quando dar o erro de notdefine 

print(variavel_inexistente)

5

In [17]:
# esse  e o comentario de uma variavel


"""
moroni cortez
juliane cortez
"""

'\nmoroni cortez\njuliane cortez\n'

In [24]:
adicao = 10 + 5 
subtraca0 = 10 - 5
multiplicacao = 10 * 5
divisao = 10 / 5 
exponenciacao = 3 ** 10
divisao_inteira = 25 // 2 

# 25 / 2 -> 12.5 
# 25 // 2 -> 12
# 25 / 2 , apenas inteiros, dá 12 e sobre 1




print (adicao)

15

In [26]:
nome = " moroni"
sobrenome = "cortez"

print ( nome +" " + sobrenome) #uniao e duas informacao na programação chama-se concatenacao

 moroni cortez

In [28]:
print("R$"+str(valortotal))

R$43.54

In [30]:
primeira_letra = nome[0]
ultima_letra = sobrenome[0]

print( primeira_letra + ultima_letra)

 c

In [31]:
refeicao = 42.54
taxa_servico = 10
valortotal = refeicao + taxa_servico * 10 / 100

print(valortotal)

43.54

In [10]:
variavel_inexistente = 5

In [32]:
print ( nome)
print (len(nome)) #quantidade de caracteres
print (nome.lower()) #transforma o texto para minusculo
print (nome.upper()) #transforma o texto para maiuscula

 moroni
7
 moroni
 MORONI

In [43]:
#exercicio 2 
nome = input  ("digite seu nome:")
idade = input ("idade:")
genero = input ("digite seu genero:")

digite seu nome:moroni
idade:28
digite seu genero:masculino

In [42]:
#importando bibliotecAS
#Algumas sao bibliotecas built- in ja vem junto com o python 
#import datetime importa a biblioteca datetime inteira 
#import datetime as dt #importa a biblioteca inteira e muda o nome 

import datetime
horario_agora = datetime.datetime.now()
print (horario_agora)

2020-09-28 19:34:47.765901

In [ ]:
***

olá , {nome}, você possui {idade} anos de idade e é do genero { genero }
já pensou no que você fará no seu aniversario de 

***